<div class="header">
  <div class="left">
    <span *ngIf="list"> {{ list.length }}</span> 
      {{ title }} 
    <span class="header__refreshIcon">
      <app-icon (click)="refreshList()"></app-icon>
    </span>
  </div>
  <select name="listLang" 
    class="right"
    (change)="onLanguageChange($event.target.value)">
    <option value="en" selected="{{listLanguage === 'en'}}">English</option>
    <option value="ko" selected="{{listLanguage === 'ko'}}">Korean</option>
  </select>
</div>
<app-spinner *ngIf="!list"></app-spinner>
<ul class="list">
  <div *ngFor="let item of list; let i = index">
    <li *ngIf="item.cognitive_biasLabel || item.wikiMedia_label">
      <details (onToggle)="detailsToggle()">
        <summary>
          <span (click)="navigateAction(item.sortName, i)"
            [ngClass]="{
              'list__both': item.cognitive_biasLabel && item.wikiMedia_label, 
              'list__text-wikimedia': !item.cognitive_biasLabel,
              'list__item--viewed': item.detailState ==='viewed'}"
              class="list__text">
              {{ item.sortName }}
            <span *ngIf="item.backupTitle !== undefined && item.sortName !== item.backupTitle && item.backupTitle.length > 1">
              ({{ item.backupTitle }})</span>
            </span>
        </summary>
        <p>
          <span class="description">{{ item.cognitive_biasDescription }} 
            {{ item.wikiMedia_description }}
          </span>
        </p>
      </details>
    </li>
  </div>
</ul>
