<div class="header">
  <div class="left">
    <span *ngIf="list"> {{ list.length }}</span> {{ title }}
  </div>
  <select name="listLang" 
    class="right"
    (change)="onLanguageChange($event.target.value)">
    <option value="en">English</option>
    <option value="ko">Korean</option>
  </select>
</div>
<ul class="list">
  <div *ngFor="let item of list; let i = index">
    <li *ngIf="item.cognitive_biasLabel || item.wikiMedia_label">
      <h4 (click)="navigateAction(item.sortName)"
        [ngClass]="{
          'list__both': item.cognitive_biasLabel && item.wikiMedia_label, 
          'list__text-wikimedia': !item.cognitive_biasLabel}">
        {{ item.sortName }}
      </h4>
    </li>
  </div>
</ul>
