<nav class="header navbar navbar-expand-lg navbar-light bg-light">
  <div class="left">
    <span *ngIf="list"> {{ list.length }}</span> 
      {{ title }} 
    <span class="header__refreshIcon">
      <app-icon (click)="refreshList()"></app-icon>
    </span>
  </div>
  <select name="listLang" 
    class="right"
    (change)="onLanguageChange($event.target.value)">
    <option value="en" selected="{{listLanguage === 'en'}}">English</option>
    <option value="ko" selected="{{listLanguage === 'ko'}}">Korean</option>
  </select>
</nav>
<app-spinner *ngIf="!list"></app-spinner>
<div class="list-group">
  <div *ngFor="let item of list; let i = index">
    <div class="list-group-item" 
        *ngIf="item.cognitive_biasLabel || item.wikiMedia_label">
        <div data-toggle="collapse" [attr.data-target]="'#' + i"
            (click)="item.isCollapsed = !item.isCollapsed"
            [attr.aria-expanded]="!item.isCollapsed" 
            aria-controls="collapse">
            <span [ngClass]="{
                    'list__both': item.cognitive_biasLabel && item.wikiMedia_label, 
                    'list__text-wikimedia': !item.cognitive_biasLabel,
                    'list__item--viewed': item.detailState ==='viewed'}"
                class="list__text">
                {{ item.sortName }}
                <span *ngIf="item.backupTitle !== undefined && item.sortName !== item.backupTitle && item.backupTitle.length > 1">
                ({{ item.backupTitle }})</span>
            </span>
        </div>
        <p (click)="navigateAction(item.sortName, i)"
            [attr.id]="i" class="description collapse"
            [ngbCollapse]="!item.isCollapsed">
            <span>{{ item.cognitive_biasDescription }} 
            {{ item.wikiMedia_description }}
            </span>
        </p>
    </div>
  </div>
</div>
