.header {
    text-align:center;
    border-bottom: 1px solid #a2a9b1;
}
.small_arrow {
    font-size: 1em;
}
ion-item-options {
    background-color: tomato;
}
.version_text {
    font-size: 0.4em;
}
.list__text::first-letter {
    text-transform: capitalize;
}
.list {
    li {
        list-style-type: none;
        color: green;
    }
}
.list__both {
    color: black;
}
.list__text-wikimedia {
    color: teal;
}